* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fbf8f3;
}

a {
  text-decoration: none;
}

li {
  /* list-style: none; */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #737373;
  margin-bottom: 1.2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 2rem 0 2rem;
}

.nav__brand {
  color: #3180f5;
  padding: 0.3rem 0rem;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav__list {
  width: 100%;
  text-align: center;
  list-style: none;
}

.nav__item {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #595959;
}

.nav__item > a {
  color: #595959;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #000;
}

.nav__toggler {
  transition: box-shadow 0.15s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #3180f5;
  border-radius: 5px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.btn {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 2rem;
  justify-self: center;
  background: #1da1f2;
  color: white;
  font-size: 1.5rem;
}

.nav__button {
  margin: 2rem 0 0 0;
}

.twitter__icon {
  margin-right: 0.5rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.hero__image {
  width: 100%;
  margin-bottom: 1rem;
}

.hero__button {
  width: 100%;
}

.link-arrow {
  display: block;
  text-align: center;
  margin: 1.2rem;
  color: #1f7898;
  font-size: 1.2rem;
  font-weight: 600;
}

.link-arrow::after {
  content: "->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.container {
  margin: 2rem;
  margin-bottom: 2.5rem;
}

.image__stack {
  display: flex;
  margin: 2rem 0 1rem 1.2rem;
}

.image__stack img {
  margin-left: -1.3rem;
}

#bold-color {
  font-weight: 600;
  color: #1f7898;
}

.block--white {
  display: block;
  background: white;
  height: 1500px;
  margin-top: 3rem;
}


.features__heading {
  width: 80%;
  margin: 2rem;
  padding-top: 5rem;
}

.features__grid {
  display: grid;
  margin: 2rem;
  grid-gap: 2rem;
}

.grid__item {
  border: 1px solid #c7a9a9;
  border-radius: 5px;
  padding: 1.5rem;
}

.grid__item p {
  margin: 0;
}

.block--blue {
  display: block;
  background: #d7f5f5;
  height: 1160px;
  /* margin-top: 3rem; */
}

.quotes__heading {
  margin: 0 2rem;
  padding: 3.5rem 0;
}

.quotes__grid {
  display: flex;
  flex-direction: column;
}

.grid--1x3 {
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
}

.tweet__card {
  background: white;
  border-radius: 5px;
  margin: 0 2rem;
  padding: 1.5rem;
  justify-self: auto;
  }

.tweet__profile {
  display: block;
  position: relative;
}

.tweet__icon {
  margin: 0;
}

.icon__box {
  position: absolute;
  top: 16px;
  right: 0;
}

.tweet__avatar {
  width: 60px;
  height: 60px;
}

.tweet__names {
  display: inline-block;
  position: absolute;
  height: 60px;
  padding-left: 1rem;
  padding-top: 4px;
  text-align: center;
}

.tweet__name {
  display: inline;
  color: black;
}

.tweet__handle {
  font-size: 0.9rem;
  text-align: left;
  line-height: 0.8rem;
}

.tweet__text {
  margin-top: 1rem;
}

.like__icon {
  margin-top: 2px;
  margin-right: auto;
  width: 26px;
  height: 26px;
}

.tweet__card footer {
  display: flex;
  width: 100%;
}

.like__count {
  position: absolute;
  margin: 0;
  margin-left: 2.1rem;
}

.tweet__date {
  color: #737373;
  font-size: 1.2rem;
  margin-left: auto;
  margin-top: 5px;
}

.plan__card {
  width: 86.5%;
  min-width: 330px;
  margin: auto;
  background: #fbf8f3;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 3rem;
}

#pricing h1 {
  text-align: center;
}

#pricing .block--white {
  margin: 0;
}

#pricing .features__heading {
  margin: 0 auto;
  padding-bottom: 1rem;
}

#pricing p {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan__name {
  justify-content: left;
  font-weight: 400;
  color: #737373;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.plan__price {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;;
}

.plan__billing-cycle {
  color: #737373;
  margin-left: -0.2rem;
  font-size: 1.2rem;
}

.card__body {
  border-top: 1px solid rgba(115, 115, 115, 0.2);
  border-bottom: 1px solid rgba(115, 115, 115, 0.2);
  margin: 1rem 1.1rem;
  padding: 1rem 0;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}

.plan__list {
  line-height: 2rem;
  color: #737373;
}

.list__item {
  background: url('images/Checkmark.svg') no-repeat 0 3px;
  padding-left: 2rem;
  margin-bottom: 1rem;
  list-style: none;
}

.card__button {
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
}


@media screen and (min-width: 800px) {

  p {
    margin-bottom: 1.5rem;
  }

  .nav {
    width: 80%;
    margin: 3rem auto;
  }

  .nav__brand {
    display: flex;
    padding-top: 1rem;
  }
  
  .nav__toggler {
    display: none;
  }
  
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  
  .nav__item {
    border: 0;
  }
  
  .nav__button {
    margin: 0;
    margin-left: 1rem;
  }
  
  .container {
    width: 80%;
    margin: auto;
    display: grid;
  }
  
  .hero__heading {
    width: 100%;
    max-width: 700px;
    margin: 4rem 0 1rem 0;
    font-size: 4rem;
    line-height: 5rem;
  }

  .hero__image {
    /* margin-top: 1rem; */
    grid-column: 2;
    width: 80%;
    justify-self: right;
  }

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__text {
    grid-row-start: 1;
    padding-right: 1rem;
  }

  .hero__button {
    width: auto;
  }

  .link-arrow {
    display: inline;
  }

  .block--white {
    margin-top: 3rem;
    width: 100vw;
    height: 850px;
  }

  .features__heading {
    max-width: 500px;
    width: 100%;
    margin-left: 10vw;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }
  
  .features__grid {
    width: 80%;
    margin: auto;
    grid-gap: 3rem;
  }
  
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-start: 2;
  }

  .quotes__heading {
    width: 80%;
    margin: auto;
    padding-top: 5rem;
  }

  .quotes__grid {
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    /* grid-auto-rows: auto; */
  }

  .tweet__card {
    margin: 0;
    max-width: 25vw;
  }

  /* .grid--1x3 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */

}

